*, *::before, *::after {
    box-sizing: border-box;
}


/*Version mobile*/

html {
    font-size: 16px;
}

body {
    line-height: 1.625;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color .3s;
    padding: 5px 0;
}

img {
    max-width: 100%;
    height: auto;
}

/*1ère partie*/

.header {
    background: 
        linear-gradient(180deg, rgba(0, 0, 0, 0.92), rgba(54, 54, 54, 0.5) 39%, rgba(28, 28, 28, 0.4) 100%),
        url(img/eggs.jpg) center center / cover no-repeat;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}

.entete {
    display: flex;
    flex-direction: column;
    padding: 18px 0;
}

.menu_reserved {
    border: #C89446 solid 1px;
    border-radius: 3px;
    padding: 5px 7px;
}

.logo {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 0.75rem;
}

.topbar {
    font-size: 0.875rem;
    padding: 15px 0;
    text-transform: uppercase;
}

.topbar a:hover {
    color: #C89446;
}

.menu_item {
    font-size: 0.75rem;
    display: inline-block;
    margin: 0 15px;
}

.baseline {
    text-transform: uppercase;
    line-height: 1;
    padding: 50px 0 75px 0;
}

.baseline .baseline_name {
    font-family: 'Pinyon Script', cursive;
    font-size: 2.3rem;
    color: #C89446;
    display: block;
    letter-spacing: 6px;
    text-transform: none;
}

.baseline_logo {
    font-size: 3rem;
    font-weight: 900;
    display: block;
    letter-spacing: 1.6px;
    padding-bottom: 10px;
}

.baseline_info {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1.5px;
    display: block;
}

/*2ème partie*/

.home_section {
    padding-top: 9px;
}

.container_small {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 960px;
}

.block {
    margin-bottom: 50px;
}

.block_body p {
    color: #6F6F6F;
}

.title {
    font-size: 1.75rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
    margin: 1rem 0 0 0;
}

.police {
    display: block;
    font-family: 'Pinyon Script', serif;
    color: #C89446;
    font-size: 2.5rem;
    line-height: 1;
    text-transform: none;
}

.title::before {
    content: '';
    display: inline-block;
    border: #C89446 1px solid;
    height: 2px;
    width: 24px;
    margin-bottom: 0.5rem;
}

.more {
    color: #C89446;
}

.more::after {
    content: ' >';
}

.block_img {
    text-align: center;
    margin: 0 auto;
    margin-top: 9px;
    /*border: solid 1px #C89446;*/
    max-width: 350px;
}

.block_img img {
    display: block;
}

.block_right {
    padding-bottom: 20px;
}

.block_center {
    text-align: center;
}

/*3ème partie*/

.menu_ingredients {
    padding: 0;
}

.menu_ingredients_items {
    font-family: 'Source Sans Pro', sans serif;
    color: #383838;
    font-weight: 600;
    margin-top: 66px;
    margin-bottom: 50px;
    text-align: center;
}

.menu_ingredients_items a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    height: 1px;
    opacity: 0;
    background: #C89446;
    transition: .3s;
}

.menu_ingredients_items a {
    margin: 0 20px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

.menu_ingredients_items .active::after,  .menu_ingredients_items a:hover::after {
    bottom: 0;
    opacity: 1;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
}

.menu_ingredients_recipes {
    max-width: 1200px;
    color: #6F6F6F;
    font-size: 0.875rem;
}

.menu_ingredients_recipes h3 {
    color: #383838;
    font-size: 1.125rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
    margin: 0;
    line-height: 1;
}

.menu_ingredients_recipes p {
    margin: 0;
    padding-bottom: 5px;
}

.menu_ingredients_recipes .price {
    font-family: 'Pinyon Script', cursive;
    color: #C89446;
    font-size: 2.5rem;
    line-height: 1;
}

.menu_ingredients_recipes img {
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

.menu_ingredients_parts {
    position: relative;
    padding-left: 120px;
    margin-bottom: 30px;
}

/*4ème partie*/

.reservation {
    background: 
        linear-gradient(180deg, rgba(0, 0, 0, 0.92), rgba(54, 54, 54, 0.5) 39%, rgba(28, 28, 28, 0.4) 100%),
        url(img/reservation.jpg) center center / cover no-repeat;
    color: #fff;
    padding: 40px 20px;
}

.reservation p {
    color: rgba(255, 255, 255, .6);
}

.reservation_table_row input, .reservation_table_row select {
    width: 100%;
    margin-bottom: 8px;
    font-size: 0.875rem;
    height: 40px;
    padding: 10px 0;
    background-color: transparent;
    color: #fff;
    border: solid 1px #6F6F6F;
    border-radius: 2px;
    transition: background .3s, border-color .3s;
    text-transform: uppercase;
}

.reservation_table_row input:focus, .reservation_table_row select:focus {
    background: rgba(255,255,255, .1);
    border-color: #C89446;
}

.reservation .button {
    width: 100%;
    background-color: #C89446;
    font-weight: 600;
    font-size: 0.875rem;
    color: #fff;
    padding: 11px 0;
    border-radius: 2px;
    border: solid 1px transparent;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
}

.reservation .form_row {
    padding-bottom: 15px;
}

.reservation option {
    background: #383838;
}

.reservation .button:hover {
    background-color: transparent;
    border: solid 1px #C89446;
}

.reservation p {
    margin-bottom: 30px;
}

.reservation .title {
    margin-top: 0;
}

/*5ème partie*/

.new {
    margin-top: 0;
    background: top left / 80vw url(img/news-bg.jpg) no-repeat;
}

.container_bis {
    margin: 0 auto;
    padding: 40px 20px;
    margin: 0px 0 40px 0;
    max-width: 1200px;
    color: #6F6F6F;
}

.container_bis .title{
    color: #383838;
    font-size: 1.75rem;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
}

.container_bis p {
    max-width: 720px;
}

.recipes_list {
    margin-bottom: 30px;
}

.recipes_list_item {
    display: flex;
    font-weight: 300;
    border-bottom: #D8D8D8 1px solid;
    margin: 20px 0 14px 0;
    padding: 13px 0;
}

.recipes_list_item:last-child {
    border-bottom: none;
}

.recipes_list_item p {
    font-size: 1.125rem;
    font-weight: 300;
    margin: 0;
    margin-left: 20px;
    margin-bottom: 20px;
}

.recipes_date strong {
    font-weight: 700;
    font-size: 1.75rem;
    color: #383838;
    line-height: 1;
}

.more_button {
    text-align: right;
}

.map {
    width: 100%;
    height: 464px;
}

footer {
    width: 100%;
    background: #383838 bottom right no-repeat;
    padding: 0px 20px 30px 20px;
    margin-top: -8px;
}

.footer h3 {
    color: #C89446;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding-bottom: 15px;
}

.footer p {
    font-weight: 300;
    color: #fff;
    margin: 0;
    line-height: 1.9;
}

.footer a {
    color: #fff;
    transition: color .3s;
    font-weight: 300;
    text-decoration: underline;
}

.footer a:hover {
    color: #C89446;
}

.container_footer {
    padding: 60px 0 0 0;
}

.container_footer .footer_items {
    padding: 0 0 30px 0;
}

.footer_droits {
    color: #fff;
    font-size: 0.9375em;
    font-weight: 300;
}

.footer_droits span {
    font-weight: 400;
}



/*Version intermédiaire*/

@media  only screen and (min-width:640px) {
    html{
        font-size: 16px;
    }

    a {
        text-decoration: none;
        color: inherit;
        transition: color .3s;
    }

    .topbar a:hover {
        color: #C89446;
    }
    
    .entete {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 1110px;
        margin: 0 auto;
    }

    .topbar {
        margin-left: auto;    
    }
    .menu_item {
        font-size: 0.875rem;
    }

    .logo {
        margin-bottom: 0;
        font-size: 0.875rem;
    }
    
    .baseline {
        padding: 155px 0 223px 0;
    }

    .baseline_name {
        font-size: 3.75rem;
    }

    .baseline_logo {
        font-size: 4.375rem;
        letter-spacing: 11px;
    }

    .baseline_info {
        font-size: 1.5rem;
        letter-spacing: 4px;
    }

}

/*Version desktop*/

@media  only screen and (min-width:1090px) {
    .block {
        margin-bottom: 100px;
    } 
    .block_left, .block_right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .block_img {
        border: none;
        position: relative;
        flex: none;
    }

    .block_left .bloc_body, .block_right .bloc_body {
        width: 445px;
        flex: none;
    }

    .block_img::before {
        content: '';
        border: #C89446 1px solid;
        display: block;
        position: absolute;
        top: -30px;
        left: -30px;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .block_right .block_body {
        margin-right: 94px;
    }

    .block_left .block_body {
        margin-left: 94px;
    }

    .block_left .block_img {
        position: relative;
        margin-left: 30px;
    }

    .block_right .block_img {
        position: relative;
        margin-left: 30px;
    }

    .block_img img {
        display: block;
        width: 350px;
        position: relative;
        z-index: 1;
    }

    .block_right .block_img::before {
        left: auto;
        right: -30px;
    }

    .title::before {
        margin-bottom: 10px;
    }

    .title {
        margin-bottom: 1.2rem;
    }

    .more {
        display: block;
        margin-top: 1.3rem;
    }
  
    .block_right .block_img {
        order: 2;
    }

    .home-section {
        background: 
            top 95px right 0px url(img/oranges.jpg) no-repeat,
            top 640px left 0px url(img/spices.jpg) no-repeat;
    }

    .menu_ingredients_items {
        margin-bottom: 123px;
    }

    .menu_ingredients_recipes {
        position: relative;
        padding: 85px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .menu_ingredients_parts img {
        width: 160px;
    }

    .menu_ingredients_parts {
        padding-left: 192px;
        width: calc(50%- 35px);
        margin-bottom: 110px;
    }

    .menu_ingredients_parts:nth-child(even) {
        text-align: right;
        padding-left: 0;
        padding-right: 192px;
    }

    .menu_ingredients_parts:nth-child(even) img {
        left: auto;
        right: 0;
    }

    .menu_ingredients_recipes p {
        padding-bottom: 26px;
        max-width: 300px;
        background-color: #fff;
    }

    .menu_ingredients_recipes h3 {
        background-color: #fff;
    }

    .menu_ingredients_recipes::before {
        content: '';
        display: block;
        top: 50%;
        left: 50%;
        width: 420px;
        height: 420px;
        position: absolute;
        border: #C89446 1px solid;
        transform: translate(-50%, -260px) rotate(45deg);
    }
    
    .block_chief {
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }

    .block_chief .block_img::before {
        display: none;
    }

    .block_chief .block_img {
        order: 2;
    }

    .reservation {
        padding: 100px 0;
    }

    .reservation p {
        max-width: 640px;
        margin-left: auto;
        margin-right: auto;
    }

    .reservation_table_row .form_row {
        display: flex;
        justify-content: space-between;
        width: 825px;
        margin: 64px auto;
    }

    .reservation_table_row input, .reservation_table_row select {
        width: calc(33.33% - 20px);
        padding: 0;
        margin: 0;
    }

    .reservation .form_row{
        padding: 0;
    }

    .reservation_table_row {
        padding-bottom: 0;
    }

    .reservation_table_row .button {
        width: 255px;
    }

    .reservation .block_center .block_body {
        width: 825px;
        margin: 0 auto;
    }

    .container_bis {
        margin-left: auto;
        margin-right: 160px;
        padding-right: 0;
        text-align: right;
        /*margin-top: 80px;*/
        margin-bottom: 85px;
    }

    .container_bis p {
        max-width: 920px;
        margin-left: 0;
    }

    .new .container_bis > p {
        max-width: 720px;
        margin-left: auto;
        text-align: right;
    }

    .recipes-date {
        width: 95px;
    }

    .recipes_list_item {
        width: 920px;
        margin-left: auto;
    }

    .recipes_list .recipes_list_item p {
        padding-left: 60px;
        text-align: left;
    }

    .recipes_list {
        margin-top: 55px;
        margin-bottom: 67px;
    }

    .new {
        margin-top: 0;
        background-size: 589px auto;
    }

    .title {
        margin-top: 0;
    }

    .footer {
        background-image: url(img/splash.png);
    }

    .container_footer {
        display: flex;
        justify-content: space-between;
        margin: 0px 165px 48px 165px;
    }

    .footer_items {
        width: 290px;
        margin-right: 50px;
    }

    .footer_items:first-child {
        width: 450px;
    }

    .footer_items:last-child {
        margin-right: 0;
        flex: none;
    }

    .footer_droits {
        margin-left: 165px;
    }

} 